{{#each errors}}
    <div class="alert alert-danger">
        {{text}}
    </div>
{{else}}
{{/each}}

<div class="card">
    <h4>Editar postagem</h4>
    <div class="card-body">
        <form action="/admin/postagens/edit" method="post">
        <input type="hidden" name="id" value="{{postagens._id}}">
            <label for="titulo">Titulo: </label>
            <input type="text" name="titulo" class="form-control" value="{{postagens.titulo}}" required>
            
            <label for="slug">Slug: </label>
            <input type="text" name="slug" class="form-control" value="{{postagens.slug}}" required>

            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" class="form-control" value="{{postagens.descricao}}" required>

            <label for="conteudo">Conteudo: </label>
            <textarea name="conteudo" class="form-control" required>{{postagens.conteudo}}</textarea>

            <select name="categoria" class="custom-select">
                {{#each categoria}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    
                {{/each}}
            </select>
            <button class="btn btn-success mt-4" type="submit">Editar postagem</button>
        </form>
    </div>
</div>