<h1>Nova postagem</h1>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Adicionar postagem</button></a>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
       <h2>{{titulo}}</h2>
       <small>{{slug}}</small>
       <h3>{{descircao}}</h3>
       <h4>{{conteudo}}</h4>
       <small>{{categoria.nome}}</small><br>
       <small>{{data}}</small><br>
       <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-4">Editar</button></a><br>
       <form action="/admin/postagens/delete" method="post">
            <input type="hidden" value="{{_id}}" name="id">
            <button type="submit" class="btn btn-danger mt-4">Deletar</button>
       </form>
    </div>
</div>

{{else}}
{{/each}}